---
---

@import "{{ site.theme }}";

table tr:nth-child(2n) {
  background-color: azure;
}

.table-header-rotated {
  background-color: azure;
}

.table-header-rotated tr:nth-child(2n) {
  background-color: none;
}

.table-header-rotated th.row-header{
  width: auto;
}

.table-header-rotated td{
  width: 40px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  vertical-align: middle;
  text-align: center;
}

.table-header-rotated th.rotate-45{
  height: 90px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
  background: none;
  background-color: none;
}

.table-header-rotated th.rotate-45 > div{
  position: relative;
  top: 0px;
  left: 45px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  color: black;
  background-color: azure;
}

.table-header-rotated th.rotate-45 span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 30px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  // Width of text in column
  width: 90px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
}

td.afl-con {
  min-width: 1.2rem;
  background-color: #4a86e8;
  color: white;
}

td.afl-gau {
  min-width: 1.2rem;
  background-color: #cc0000;
  color: white;
}

td.afl-fre {
  min-width: 1.2rem;
  background-color: #e69138;
  color: white;
}

td.afl-ind {
  min-width: 1.2rem;
  background-color: #6aa84f;
  color: white;
}

td.high {
  background-color: silver;
}

td.medium {
  background-color: gainsboro;
  font-weight: bold;
}

td.low {
  background-color: whitesmoke;
}

td.station {
  font-size: 12px;
}

td.star {
  color: #fff;
  background: #000;
  text-align: left;
  font-weight: bold;
}
